// Host Styles
:host {
  display: block;
  padding: 20px;
}

// Dashboard Styles
.dashboard {
  display: block;
  flex-direction: column;
  padding: 20px;
}

// Dashboard Container Styles
.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px; /* Espaço entre os cards */
}

// Dashboard Card Styles
.dashboard-card {
  background-color: #f9f9f9; /* Cor cinza clara */
  padding: 10px;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra nas bordas inferior e direita */
  flex: 1 1 calc(50% - 20px); /* Permite que os cards ocupem até 50% do espaço disponível */
  box-sizing: border-box;
  border-radius: 8px; /* Arredondar as bordas */
}

@media (max-width: 768px) {
  .dashboard-card {
    flex: 1 1 100%; /* Cards ocupam 100% do espaço disponível em telas menores */
  }
}

// Dashboard Card Header Styles
.dashboard-card h2 {
  margin: 0 0 10px 0;
}

// Dashboard Card Filter Styles
.dashboard-card .filter {
  margin-bottom: 10px;
}

.dashboard-card input {
  width: 90%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.dashboard-card button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
}

// Dashboard table styles
table {
  border-collapse: collapse;
  border: 1px solid #D1D1D1;
  width: 100%;
}

th {
  background-color: #DDD;
  font-weight: bold;
  border: 1px solid #D1D1D1;
  padding: 8px;
  width: 25%;
}

td {
  border: 1px solid #D1D1D1;
  padding: 8px;
  width: 25%;
}

tbody tr:nth-child(even) {
  background-color: #F5F5F5;
}

tbody tr:nth-child(odd) {
  background-color: white;
}