/* Styles for the Movies List component */
.movies-list {
    padding: 20px;
}

/* Styles for the Movies List TABLE */
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #D1D1D1;
}

td {
  border: 1px solid #D1D1D1;
  padding: 8px;
}

tbody tr:nth-child(odd) {
  background-color: #F5F5F5;
}

tbody tr:nth-child(even) {
  background-color: white;
}

.movies-table {
  width: 100%;
  border-collapse: collapse;
}

.movies-table th, .movies-table td {
  border: 1px solid #D1D1D1;
  padding: 8px;
  text-align: center;
  width: 25%;
}

.movies-table th {
  background-color: #DDD;
  font-weight: bold;
}

.movies-table th div {
  margin-top: 8px;
}

tbody tr:nth-child(odd) {
  background-color: #F5F5F5;
}

tbody tr:nth-child(even) {
  background-color: white;
}

.movies-table th input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}
  
.movies-table th select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}
/* End of Styles for the Movies List TABLE */

/* Styles for the Movies List PAGINATION */
pagination-controls {
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: #ddd;
}

pagination-controls ul {
    padding: 0;
    margin: 0;
}
/* End of Styles for the Movies List PAGINATION */

/* Styles for the Movies List CARDS */
.movies-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.movies-list-card {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(50% - 20px);
  box-sizing: border-box;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .movies-list-card {
    flex: 1 1 100%; /* Cards ocupam 100% do espaço disponível em telas menores */
  }
}
/* End of Styles for the Movies List CARDS */