/* Styles for the Movies List component */
.movies-list {
    padding: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table th {
    background-color: #f2f2f2;
    text-align: left;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 5px;
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.filter {
    margin-bottom: 20px;
}

.movies-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espaço entre os cards */
}

.movies-list-card {
  background-color: #f9f9f9; /* Cor cinza clara */
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra nas bordas inferior e direita */
  flex: 1 1 calc(50% - 20px); /* Permite que os cards ocupem até 50% do espaço disponível */
  box-sizing: border-box;
  border-radius: 8px; /* Arredondar as bordas */
}

@media (max-width: 768px) {
  .movies-list-card {
    flex: 1 1 100%; /* Cards ocupam 100% do espaço disponível em telas menores */
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #D1D1D1;
}

th {
  background-color: #DDD;
  font-weight: bold;
  border: 1px solid #D1D1D1;
  padding: 8px;
}

td {
  border: 1px solid #D1D1D1;
  padding: 8px;
}

tbody tr:nth-child(odd) {
  background-color: #F5F5F5;
}

tbody tr:nth-child(even) {
  background-color: white;
}